.description__position {
  margin: 0;
  padding-top: 7px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

@media screen and (max-width: 1023px) {
  .description__position {
    padding-top: 5px;
  }
}

@media screen and (max-width: 767px) {
  .description__position {
    font-size: 15px;
  }
}
