.description__quote {
  grid-area: quote;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.4;
  justify-self: start;
  width: 800px;
  align-self: end;
  margin: 0;
}
@media screen and (max-width: 1279px) {
  .description__quote {
    width: 400px;
    font-size: 37px;
    align-self: center;
  }
}
@media screen and (max-width: 1023px) {
  .description__quote {
    width: 300px;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .description__quote {
    align-self: center;
    justify-self: start;
    min-width: 300px;
    width: 100%;
    max-width: 600px;
  }
}
