.project__title {
  margin: 0 auto;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  padding: 100px 0 50px;
  max-width: 90%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .project__title {
    font-size: 40px;
  }
}
