.rates__additional-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .rates__additional-text {
    font-size: 15px;
  }
}
