.header__burger_type_active {
  margin: 0;
  height: 4px;
  width: 40px;
}

.header__burger_type_active:first-child {
  rotate: 45deg;
  transform: translate(10%);
}

.header__burger_type_active:nth-child(2) {
  display: none;
}

.header__burger_type_active:last-child {
  rotate: -45deg;
  transform: translate(5%);
}

@media screen and (max-width: 767px) {
  .header__burger_type_active {
    width: 25px;
    height: 3px;
  }
}
