.project__card-heading {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 1279px) {
  .project__card-heading {
    font-size: 37px;
  }
}

@media screen and (max-width: 1023px) {
  .project__card-heading {
    font-size: 30px;
  }
}
