.awards {
}

.awards__title {
  margin: 0 auto;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.2;
  padding: 80px 0 50px;
  width: 470px;
}

.awards__carousel {
  position: relative;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.awards__gallery {
  width: 1100px;
  overflow: hidden;
}

.awards__list {
  list-style: none;
  width: 9999px;
  padding: 0;
  margin: 0;
  transition: margin-left 250ms;
}

.awards__item {
  display: inline-block;
}

.awards__img {
  width: 350px;
  display: block;
  padding: 0 25px 0 0;
}

.awards__arrow {
  width: 50px;
  height: 50px;
}
.awards__button-prev {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
  width: 50px;
}
.awards__button-next {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: 0;
  padding: 0;
  width: 50px;
}
