.project {
}
.project__title {
  margin: 0 auto;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.2;
  padding: 100px 0 50px;
  max-width: 90%;
  box-sizing: border-box;
}
.project__container {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  max-width: 90%;
  /* width: 1280px; */
  /* height: 1000px; */
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}
.project__card {
  background-position: center;
  background-size: 500px 500px;
  background-repeat: no-repeat;
  max-width: 500px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
  margin: 0 25px 25px 0;
}
.project__card:first-child {
  background-image: url(../../images/1_WHITE_FLAT/1.jpg);
}

.project__card:nth-child(2) {
  background-image: url(../../images/2_WOOD&STONE/001.jpg);
}
.project__card:nth-child(3) {
  background-image: url(../../images/3_KERRANOVA_INSPIRATION/01.jpg);
}
.project__card:nth-child(4) {
  background-image: url(../../images/4_PURE/01.jpg);
}
.project__card:nth-child(5) {
  background-image: url(../../images/5_GROWING_CHILDROOM/CROOM1.jpg);
}
.project__card:nth-child(6) {
  background-image: url(../../images/6_CIRCUM/1.jpg);
}
.project__card:nth-child(7) {
  background-image: url(../../images/7_MALEVICH_11/1.jpg);
}
.project__card:nth-child(8) {
  background-image: url(../../images/8_BLANCHE/1.jpg);
}
.project__card:nth-child(9) {
  background-image: url(../../images/9_other-photo/1.jpg);
}
.project__link {
  text-decoration: none;
  color: #ffffff;
}
.project__card-content {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  width: 500px;
  height: 500px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project__card-heading {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  line-height: 1.2;
}
.project__card-location {
  margin: 0 auto;
  padding-top: 20px;
  width: 500px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}
.project__card-description {
  margin: 0 auto;
  padding-top: 20px;
  width: 500px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}
