.project__card-description {
  margin: 0 auto;
  padding-top: 20px;
  max-width: 500px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 1279px) {
  .project__card-description {
    font-size: 15px;
  }
}
