.services__content {
  background-image: url(../../../images/2_WOOD&STONE/004.jpg);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 767px) {
  .services__content {
    background-size: 100% 500px;
    height: 500px;
    flex-direction: row;
    align-items: end;
  }
}
